<a href="https://colab.research.google.com/github/KODURISRIHARI/LoginPage/blob/main/Innomatics_frst_uber_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/uber_rides_data.xlsx - sample_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103513 entries, 0 to 103512
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            103513 non-null  int64
 1   fare_amount        103513 non-null  float64
 2   pickup_datetime    103513 non-null  object
 3   pickup_longitude   103513 non-null  float64
 4   pickup_latitude    103512 non-null  float64
 5   dropoff_longitude  103511 non-null  float64
 6   dropoff_latitude   103511 non-null  float64
 7   passenger_count    103512 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 6.3+ MB

In [16]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1.035130e+05,103513.000000,103513.000000,103512.000000,103511.000000,103511.000000,103512.000000
mean,2.769937e+07,11.376390,-72.519364,39.947851,-72.540301,39.918087,1.678018
std,1.601228e+07,9.881363,11.589936,8.995357,15.217219,7.283397,1.299710
min,4.800000e+01,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.381223e+07,6.000000,-73.992050,40.734809,-73.991417,40.733730,1.000000
50%,2.774483e+07,8.500000,-73.981805,40.752627,-73.980113,40.752982,1.000000
75%,4.151481e+07,12.500000,-73.967140,40.767148,-73.963783,40.768067,2.000000
max,5.542285e+07,350.000000,57.418457,1644.421482,1153.572603,872.697628,6.000000

In [7]:
df['fare_amount'].isna().sum()

0

In [8]:
df['fare_amount'].dropna()

0          7.5
1          7.7
2         12.9
3          5.3
4         16.0
          ...
103508     6.5
103509    17.5
103510    26.5
103511    12.5
103512    11.5
Name: fare_amount, Length: 103513, dtype: float64

In [14]:
s=0
for i in df.fare_amount:
  s=s+1

print(s)

le =len(df['fare_amount'])
print(le)
avrg =s//le
avrg

103513
103513

1

In [15]:
df['fare_amount'].dropna().describe()

count    103513.000000
mean         11.376390
std           9.881363
min         -52.000000
25%           6.000000
50%           8.500000
75%          12.500000
max         350.000000
Name: fare_amount, dtype: float64

In [5]:
df['dropoff_longitude'].isna().sum()

2

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103513 entries, 0 to 103512
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            103513 non-null  int64
 1   fare_amount        103513 non-null  float64
 2   pickup_datetime    103513 non-null  object
 3   pickup_longitude   103513 non-null  float64
 4   pickup_latitude    103512 non-null  float64
 5   dropoff_longitude  103511 non-null  float64
 6   dropoff_latitude   103511 non-null  float64
 7   passenger_count    103512 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 6.3+ MB

In [20]:
df[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].describe()

       pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
count     103513.000000    103512.000000      103511.000000     103511.000000
mean         -72.519364        39.947851         -72.540301         39.918087
std           11.589936         8.995357          15.217219          7.283397
min        -1340.648410       -74.015515       -3356.666300       -881.985513
25%          -73.992050        40.734809         -73.991417         40.733730
50%          -73.981805        40.752627         -73.980113         40.752982
75%          -73.967140        40.767148         -73.963783         40.768067
max           57.418457      1644.421482        1153.572603        872.697628

In [21]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1.0
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1.0
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1.0
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3.0
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5.0
...,...,...,...,...,...,...,...,...
103508,20514036,6.5,2014-12-02 09:43:31 UTC,-73.969907,40.784310,-73.956103,40.784508,1.0
103509,31652196,17.5,2015-05-21 00:20:31 UTC,-73.993019,40.753540,-73.941063,40.788311,1.0
103510,45385,26.5,2013-09-24 21:48:35 UTC,-74.015432,40.709871,-73.948888,40.781892,1.0
103511,29438051,12.5,2015-01-10 19:21:21 UTC,-73.973160,40.785187,-73.982895,40.758015,1.0
103512,3695522,11.5,2014-01-24 15:42:21 UTC,-73.000000,NaN,NaN,NaN,NaN

In [32]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1.035130e+05,103513.000000,103513.000000,103512.000000,103511.000000,103511.000000,103512.000000
mean,2.769937e+07,11.376390,-72.519364,39.947851,-72.540301,39.918087,1.678018
std,1.601228e+07,9.881363,11.589936,8.995357,15.217219,7.283397,1.299710
min,4.800000e+01,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.381223e+07,6.000000,-73.992050,40.734809,-73.991417,40.733730,1.000000
50%,2.774483e+07,8.500000,-73.981805,40.752627,-73.980113,40.752982,1.000000
75%,4.151481e+07,12.500000,-73.967140,40.767148,-73.963783,40.768067,2.000000
max,5.542285e+07,350.000000,57.418457,1644.421482,1153.572603,872.697628,6.000000

What is the haversine distance between pickup and dropoff location for the costliest ride?

In [33]:
#0.00077

In [34]:
pd.to_datetime(df['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
103508   2014-12-02 09:43:31+00:00
103509   2015-05-21 00:20:31+00:00
103510   2013-09-24 21:48:35+00:00
103511   2015-01-10 19:21:21+00:00
103512   2014-01-24 15:42:21+00:00
Name: pickup_datetime, Length: 103513, dtype: datetime64[ns, UTC]

In [37]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1.0
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1.0
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1.0
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3.0
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5.0
...,...,...,...,...,...,...,...,...
103508,20514036,6.5,2014-12-02 09:43:31 UTC,-73.969907,40.784310,-73.956103,40.784508,1.0
103509,31652196,17.5,2015-05-21 00:20:31 UTC,-73.993019,40.753540,-73.941063,40.788311,1.0
103510,45385,26.5,2013-09-24 21:48:35 UTC,-74.015432,40.709871,-73.948888,40.781892,1.0
103511,29438051,12.5,2015-01-10 19:21:21 UTC,-73.973160,40.785187,-73.982895,40.758015,1.0
103512,3695522,11.5,2014-01-24 15:42:21 UTC,-73.000000,NaN,NaN,NaN,NaN

In [39]:
count=0
for i in df.pickup_datetime:
  if df.pickup_datetime>='2014-01-01' and df.pickup_datetime<='2014-12-31':
    count=count+1

print(count)

ValueError: ignored

In [44]:
average_fare = df['fare_amount'].mean()
average_fare

11.376390115251224

What is the average fare amount?
*

In [45]:
average_fare = df['fare_amount'].mean()
average_fare

11.376390115251224

SyntaxError: ignored

Calculate distance between each pickup and dropoff points using Haversine formula.
What is the median haversine distance between pickup and dropoff location according to the given dataset?
*
Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

In [46]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    r = 6371  # Radius of Earth in kilometers
    distance = r * c  # Distance in kilometers

    return distance

# Calculate the Haversine distances and add them as a new column to the DataFrame
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Calculate the median Haversine distance
median_haversine_distance = df['haversine_distance'].median()

In [47]:
median_haversine_distance

2.1240778453957474

What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [48]:
max_haversine_distance = df['haversine_distance'].max()
max_haversine_distance

16409.239135313168

How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [49]:
rides_with_zero_distance = df[df['haversine_distance'] == 0.0]
num_rides_with_zero_distance = len(rides_with_zero_distance)

In [50]:
num_rides_with_zero_distance

2913

What is the mean 'fare_amount' for rides with 0 haversine distance?

In [54]:
mean_fare_for_zero_distance = rides_with_zero_distance['fare_amount'].mean()
mean_fare_for_zero_distance

11.839763130792997

What is the maximum 'fare_amount' for a ride?

In [56]:
d = df['fare_amount'].max()
d

350.0

In [58]:
max_fare_amount = df['fare_amount'].max()
max_fare_amount

350.0

What is the haversine distance between pickup and dropoff location for the costliest ride?

In [59]:
# Find the ride with the maximum 'fare_amount'
costliest_ride = df[df['fare_amount'] == max_fare_amount].iloc[0]

# Calculate the Haversine distance for the costliest ride
haversine_distance_costliest_ride = haversine(costliest_ride['pickup_latitude'], costliest_ride['pickup_longitude'], costliest_ride['dropoff_latitude'], costliest_ride['dropoff_longitude'])

In [60]:
haversine_distance_costliest_ride

0.0

In [61]:
formatted_distance = "{:.8f}".format(haversine_distance_costliest_ride)
formatted_distance

'0.00000000'

How many rides were recorded in the year 2014?

In [65]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
rides_in_2014 = df[df['pickup_datetime'].df.value.year == '2014']
num_rides_in_2014 = len(rides_in_2014)
num_rides_in_2014

AttributeError: ignored

In [66]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
rides_in_q1_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.month <= 3)]
num_rides_in_q1_2014 = len(rides_in_q1_2014)
num_rides_in_q1_2014

AttributeError: ignored

In [67]:
# Assuming 'pickup_datetime' is already converted to a datetime data type
rides_in_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Calculate the day of the week for each ride and find the day with the maximum rides
most_common_day = rides_in_september_2010['pickup_datetime'].dt.day_name().mode().iloc[0]
most_common_day

AttributeError: ignored

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import numpy as np

# Assuming you have a DataFrame 'df' containing your data

# Preprocess categorical variable (encode ride_week_day)
df = pd.get_dummies(df, columns=['ride_week_day'], drop_first=True)

# Split the data into training and testing sets (70-30 split)
X = df[['passenger_count', 'distance'] + [col for col in df.columns if 'ride_week_day_' in col]]
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train and evaluate Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)
lr_r2 = r2_score(y_test, lr_pred)
lr_adj_r2 = 1 - (1 - lr_r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

# Train and evaluate Random Forest Regression model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_r2 = r2_score(y_test, rf_pred)
rf_adj_r2 = 1 - (1 - rf_r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

# Compare adjusted R-squared values
if lr_adj_r2 < rf_adj_r2:
    print("Linear Regression has the least adjusted R-squared value:", lr_adj_r2)
else:
    print("Random Forest Regression has the least adjusted R-squared value:", rf_adj_r2)

KeyError: ignored

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Assuming you have a DataFrame 'df' containing your data

# Preprocess categorical variable (encode ride_week_day)
df = pd.get_dummies(df, columns=['ride_week_day'], drop_first=True)

# Split the data into training and testing sets (70-30 split)
X = df[['passenger_count', 'distance'] + [col for col in df.columns if 'ride_week_day_' in col]]
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train and evaluate Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)
lr_r2 = r2_score(y_test, lr_pred)
lr_adj_r2 = 1 - (1 - lr_r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

# Train and evaluate Random Forest Regression model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_r2 = r2_score(y_test, rf_pred)
rf_adj_r2 = 1 - (1 - rf_r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

# Compare adjusted R-squared values
if lr_adj_r2 < rf_adj_r2:
    print("Linear Regression has the least adjusted R-squared value:", lr_adj_r2)
else:
    print("Random Forest Regression has the least adjusted R-squared value:", rf_adj_r2)

KeyError: ignored